<a href="https://colab.research.google.com/github/amontenegrot/Vowels-project/blob/main/Depuraci%C3%B3n_Common_Voice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Librerías

In [ ]:
import pandas as pd
import numpy as np

##Lectura de datos

In [ ]:
df = pd.read_csv('dev.tsv',sep='\t',header=0)
dfPre = df.drop(['client_id'], axis=1)

In [ ]:
def ContadorVocalA(cadena):
  ocurrencias1 = cadena.count('a')
  ocurrencias2 = cadena.count('á')
  ocurrencias3 = cadena.count('A')
  ocurrencias4 = cadena.count('Á')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

def ContadorVocalE(cadena):
  ocurrencias1 = cadena.count('e')
  ocurrencias2 = cadena.count('é')
  ocurrencias3 = cadena.count('E')
  ocurrencias4 = cadena.count('É')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

def ContadorVocalI(cadena):
  ocurrencias1 = cadena.count('i')
  ocurrencias2 = cadena.count('í')
  ocurrencias3 = cadena.count('I')
  ocurrencias4 = cadena.count('Í')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

def ContadorVocalO(cadena):
  ocurrencias1 = cadena.count('o')
  ocurrencias2 = cadena.count('ó')
  ocurrencias3 = cadena.count('O')
  ocurrencias4 = cadena.count('Ó')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

def ContadorVocalU(cadena):
  ocurrencias1 = cadena.count('u')
  ocurrencias2 = cadena.count('ú')
  ocurrencias3 = cadena.count('U')
  ocurrencias4 = cadena.count('Ú')
  return int(ocurrencias1 + ocurrencias2 + ocurrencias3 + ocurrencias4)

#Exploración de datos

In [ ]:
dfPre#.head()

                               path  ...               accent
0      common_voice_es_19746113.mp3  ...                  NaN
1      common_voice_es_19746114.mp3  ...                  NaN
2      common_voice_es_19746115.mp3  ...                  NaN
3      common_voice_es_19746116.mp3  ...                  NaN
4      common_voice_es_19746117.mp3  ...                  NaN
...                             ...  ...                  ...
13216  common_voice_es_18310103.mp3  ...                  NaN
13217  common_voice_es_18310105.mp3  ...                  NaN
13218  common_voice_es_18310110.mp3  ...                  NaN
13219  common_voice_es_18310112.mp3  ...                  NaN
13220  common_voice_es_18370974.mp3  ...  centrosurpeninsular

[13221 rows x 7 columns]

In [ ]:
#Resumen: repeticiones de distintos valores presentes en la columna 'up_votes'
dfPre['up_votes'].value_counts(dropna=False)

2    12654
3      544
4       23
Name: up_votes, dtype: int64

In [ ]:
dfPre['accent'].value_counts(dropna=False)

NaN                    10608
mexicano                 704
andino                   417
rioplatense              321
nortepeninsular          228
americacentral           215
centrosurpeninsular      201
chileno                  196
caribe                   192
surpeninsular            112
canario                   27
Name: accent, dtype: int64

#Preprocesamiento

In [ ]:
#Filtros: audios sin votos en contra y con mayor votación (3 o 4 votos a favor)
dfPreFil = dfPre[(dfPre['down_votes']==0)&(dfPre['up_votes']>=3)]

dfPreFil.head()

                             path  ... accent
24   common_voice_es_19613838.mp3  ...    NaN
123  common_voice_es_19711369.mp3  ...    NaN
152  common_voice_es_19637716.mp3  ...    NaN
164  common_voice_es_18334123.mp3  ...    NaN
180  common_voice_es_19745846.mp3  ...    NaN

[5 rows x 7 columns]

In [ ]:
dfPreFil['accent'].value_counts(dropna=False)

NaN                    333
mexicano                25
andino                  10
rioplatense              9
caribe                   6
centrosurpeninsular      5
americacentral           4
nortepeninsular          4
surpeninsular            3
chileno                  2
canario                  1
Name: accent, dtype: int64

#Análisis

In [ ]:
dfVocales = pd.DataFrame()

dfVocales['Audio'] = dfPreFil['path']
#dfVocales['Oracion'] = dfPreFil['sentence']

dfVocales

                              Audio
24     common_voice_es_19613838.mp3
123    common_voice_es_19711369.mp3
152    common_voice_es_19637716.mp3
164    common_voice_es_18334123.mp3
180    common_voice_es_19745846.mp3
...                             ...
13148  common_voice_es_19656967.mp3
13216  common_voice_es_18310103.mp3
13217  common_voice_es_18310105.mp3
13218  common_voice_es_18310110.mp3
13219  common_voice_es_18310112.mp3

[402 rows x 1 columns]

In [ ]:
dfVocales['I'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalI(x))
dfVocales['E'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalE(x))
dfVocales['A'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalA(x))
dfVocales['O'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalO(x))
dfVocales['U'] = dfPreFil['sentence'].apply(lambda x: ContadorVocalU(x))

dfVocales

                              Audio  I  E   A  O  U
24     common_voice_es_19613838.mp3  2  6   5  6  3
123    common_voice_es_19711369.mp3  3  2   4  1  1
152    common_voice_es_19637716.mp3  4  2   5  7  3
164    common_voice_es_18334123.mp3  1  0   3  3  0
180    common_voice_es_19745846.mp3  3  8   1  8  4
...                             ... .. ..  .. .. ..
13148  common_voice_es_19656967.mp3  2  5   1  1  4
13216  common_voice_es_18310103.mp3  3  2  11  3  3
13217  common_voice_es_18310105.mp3  1  5   6  4  0
13218  common_voice_es_18310110.mp3  1  1   4  6  0
13219  common_voice_es_18310112.mp3  1  1   5  3  0

[402 rows x 6 columns]

In [ ]:
print('Total íes (i):', dfVocales['I'].sum())
print('Total es (e):', dfVocales['E'].sum())
print('Total aes (a):', dfVocales['A'].sum())
print('Total oes (o):', dfVocales['O'].sum())
print('Total úes (u):', dfVocales['U'].sum())

Total íes (i): 1294
Total es (e): 2442
Total aes (a): 2290
Total oes (o): 1727
Total úes (u): 782

##Vocal /i/

In [ ]:
# resumen de vocales /i/
dfVocales['I'].value_counts()

# ordenar de mayor a menor, incluyendo los valores repetidos
vocalI = dfVocales.nlargest(100, 'I', keep='all')

# reiniciar index
vocalI = vocalI.reset_index()

# eliminar columnas innecesarias
vocalI = vocalI.drop(['E'], axis=1)
vocalI = vocalI.drop(['A'], axis=1)
vocalI = vocalI.drop(['O'], axis=1)
vocalI = vocalI.drop(['U'], axis=1)
vocalI = vocalI.drop(['index'], axis=1)

# renombrar columna
vocalI = vocalI.rename({'I':'Conteo de vocales /i/'}, axis=1)

vocalI[66:80]

                           Audio  Conteo de vocales /i/
66  common_voice_es_19606725.mp3                      5
67  common_voice_es_18311006.mp3                      5
68  common_voice_es_19717593.mp3                      5
69  common_voice_es_19638044.mp3                      5
70  common_voice_es_19122351.mp3                      5
71  common_voice_es_19957306.mp3                      5
72  common_voice_es_19639949.mp3                      5
73  common_voice_es_19609281.mp3                      5
74  common_voice_es_19620463.mp3                      5
75  common_voice_es_19694573.mp3                      5
76  common_voice_es_19675759.mp3                      5
77  common_voice_es_19128496.mp3                      5
78  common_voice_es_19199242.mp3                      5
79  common_voice_es_19646062.mp3                      5

##Vocal /e/

In [ ]:
# resumen de vocales /e/
dfVocales['E'].value_counts()

# ordenar de mayor a menor, incluyendo los valores repetidos
vocalE = dfVocales.nlargest(100, 'E', keep='all')

# reiniciar index
vocalE = vocalE.reset_index()

# eliminar columnas innecesarias
vocalE = vocalE.drop(['I'], axis=1)
vocalE = vocalE.drop(['A'], axis=1)
vocalE = vocalE.drop(['O'], axis=1)
vocalE = vocalE.drop(['U'], axis=1)
vocalE = vocalE.drop(['index'], axis=1)

# renombrar columna
vocalE = vocalE.rename({'E':'Conteo de vocales /e/'}, axis=1)

vocalE[54:70]

                           Audio  Conteo de vocales /e/
54  common_voice_es_19612449.mp3                     10
55  common_voice_es_19682782.mp3                      9
56  common_voice_es_19668689.mp3                      9
57  common_voice_es_19685902.mp3                      9
58  common_voice_es_19618877.mp3                      9
59  common_voice_es_18942523.mp3                      9
60  common_voice_es_19123635.mp3                      9
61  common_voice_es_19682032.mp3                      9
62  common_voice_es_19603226.mp3                      9
63  common_voice_es_19598658.mp3                      9
64  common_voice_es_19137089.mp3                      9
65  common_voice_es_19636299.mp3                      9
66  common_voice_es_19657600.mp3                      9
67  common_voice_es_19675815.mp3                      9
68  common_voice_es_19660315.mp3                      9
69  common_voice_es_19634380.mp3                      9

##Vocal /a/

In [ ]:
# resumen de vocales /a/
dfVocales['A'].value_counts()

# ordenar de mayor a menor, incluyendo los valores repetidos
vocalA = dfVocales.nlargest(100, 'A', keep='all')

# reiniciar index
vocalA = vocalA.reset_index()

# eliminar columnas innecesarias
vocalA = vocalA.drop(['I'], axis=1)
vocalA = vocalA.drop(['E'], axis=1)
vocalA = vocalA.drop(['O'], axis=1)
vocalA = vocalA.drop(['U'], axis=1)
vocalA = vocalA.drop(['index'], axis=1)

# renombrar columna
vocalA = vocalA.rename({'A':'Conteo de vocales /a/'}, axis=1)

vocalA[71:80]

                           Audio  Conteo de vocales /a/
71  common_voice_es_19628401.mp3                      9
72  common_voice_es_19605784.mp3                      8
73  common_voice_es_19603840.mp3                      8
74  common_voice_es_19730525.mp3                      8
75  common_voice_es_19603226.mp3                      8
76  common_voice_es_18308862.mp3                      8
77  common_voice_es_19721782.mp3                      8
78  common_voice_es_19610364.mp3                      8
79  common_voice_es_19684672.mp3                      8

##Vocal /o/

In [ ]:
# resumen de vocales /o/
dfVocales['O'].value_counts()

# ordenar de mayor a menor, incluyendo los valores repetidos
vocalO = dfVocales.nlargest(100, 'O', keep='all')

# reiniciar index
vocalO = vocalO.reset_index()

# eliminar columnas innecesarias
vocalO = vocalO.drop(['I'], axis=1)
vocalO = vocalO.drop(['E'], axis=1)
vocalO = vocalO.drop(['A'], axis=1)
vocalO = vocalO.drop(['U'], axis=1)
vocalO = vocalO.drop(['index'], axis=1)

# renombrar columna
vocalO = vocalO.rename({'O':'Conteo de vocales /o/'}, axis=1)

vocalO[86:90]

                           Audio  Conteo de vocales /o/
86  common_voice_es_18311006.mp3                      6
87  common_voice_es_19614545.mp3                      6
88  common_voice_es_19684481.mp3                      6
89  common_voice_es_19717593.mp3                      6

##Vocal /u/

In [ ]:
# resumen de vocales /u/
dfVocales['U'].value_counts()

# ordenar de mayor a menor, incluyendo los valores repetidos
vocalU = dfVocales.nlargest(150, 'U', keep='all')

# reiniciar index
vocalU = vocalU.reset_index()

# eliminar columnas innecesarias
vocalU = vocalU.drop(['I'], axis=1)
vocalU = vocalU.drop(['E'], axis=1)
vocalU = vocalU.drop(['A'], axis=1)
vocalU = vocalU.drop(['O'], axis=1)
vocalU = vocalU.drop(['index'], axis=1)

# renombrar columna
vocalU = vocalU.rename({'U':'Conteo de vocales /u/'}, axis=1)

vocalU[140:159]

                            Audio  Conteo de vocales /u/
140  common_voice_es_19620561.mp3                      2
141  common_voice_es_18309351.mp3                      2
142  common_voice_es_19655030.mp3                      2
143  common_voice_es_19655035.mp3                      2
144  common_voice_es_19682032.mp3                      2
145  common_voice_es_19703724.mp3                      2
146  common_voice_es_19666639.mp3                      2
147  common_voice_es_19730527.mp3                      2
148  common_voice_es_19603227.mp3                      2
149  common_voice_es_19639747.mp3                      2
150  common_voice_es_19912344.mp3                      2
151  common_voice_es_18319514.mp3                      2
152  common_voice_es_18319515.mp3                      2
153  common_voice_es_19681829.mp3                      2
154  common_voice_es_19603467.mp3                      2
155  common_voice_es_19648953.mp3                      2
156  common_voice_es_19618365.mp3                      2
157  common_voice_es_19604259.mp3                      2
158  common_voice_es_19714910.mp3                      2